.bounding-box{
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    cursor: pointer;
}

h3{
    margin-bottom: -18px;
    padding: 3px;
    background-color: black;
    color: orangered;
    font-family: cursive;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    text-align: center;
}